name: Android Build

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create local.properties
      run: echo "sdk.dir=$ANDROID_HOME" > local.properties

    - name: Clean Build
      run: ./gradlew clean --no-daemon

    - name: Build with Gradle
      run: ./gradlew assembleDebug --no-daemon --no-build-cache --stacktrace

    - name: Rename APK
      run: mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/BackLineDebugB.apk

    - name: Upload Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: debug-apk
        path: app/build/outputs/apk/debug/BackLineDebugB.apk

    - name: Send Pushover Notification
      if: always() # Runs even if the build fails
      run: |
        curl -s \
          --form-string "token=${{ secrets.PUSHOVER_APP_TOKEN }}" \
          --form-string "user=${{ secrets.PUSHOVER_USER_KEY }}" \
          --form-string "title=GitHub Action: ${{ github.repository }}" \
          --form-string "message=Workflow finished with status: ${{ job.status }}" \
          --form-string "url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}" \
          https://api.pushover.net/1/messages.json
